<% variant = line_item.variant %>
<% if States[@order.state] >= States['complete'] && line_item.backordered?  %>
  <% out_of_stock = true %>
<% else %>
  <% out_of_stock = false %>
<% end %>
<% line_is_editable = !!(order_is_editable? && @user_edit_line_item && (States[@order.state] < States['approved'] || @approve_ship_receive)) %>
<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <% url = variant.is_master ? manage_product_path(variant.product) : manage_product_variant_path(variant.product, variant) %>
    <!-- <div class="order-item"> -->

  <tbody id="line_item_<%= line_item.id %>" data-formlineid="<%= item_form.index %>" data-id="<%= line_item.id %>" data-pos="<%= line_item.position %>" class="line-item-row">
    <tr data-formlineid="<%= item_form.index %>" data-id="<%= line_item.id %>" class="line-item-row <%= 'warning' if out_of_stock %>">
      <td style='width: 20px; padding-right: 0px;'><i class="fa fa-reorder"></i></td>
      <td style='width: 20px;'>
        <% unless controller_name.include?('shipping')|| !order_can_add_products? %>
        <div class="cel">
          <%= link_to raw("<i class='fa fa-times'></i>"), {format: :js, action: :unpopulate, order_id: @order.id, line_item_id: line_item.id, item_form_idx: item_form.index},
            class: 'btn btn-xs red delete-input-row-btn close-button', id: "delete-item-button-#{line_item.id}", remote: true %>
        </div>
        <% end %>
      </td>
      <td>
        <% if line_is_editable %>
          <%= item_form.text_area :item_name, value: line_item.item_name, rows: '1', class: 'form-control-inline-textarea autoresize line-item-area' %>
        <% else %>
          <%= link_to line_item.item_name, url %>
        <% end %>
      </td>
      <td>
        <a href="<%= url %>" class="cel"><%= line_item.sku %></a>
      </td>
      <% if variant.should_track_lots? %>
        <%= render partial: 'line_item_lots', locals: {line_item: line_item, url: url} %>
      <% else %>
        <td>
          <% if line_is_editable %>
            <%= item_form.text_field :lot_number, class: 'form-control line-item-area' %>
          <% else %>
            <a href="<%= url %>" class="cel"><%= line_item.lot_number %></a>
          <% end %>
        </td>
      <% end %>
      <td width="150px">
        <% if line_is_editable %>
          <%= item_form.text_field :pack_size, class: 'form-control line-item-area' %>
        <% else %>
          <a href="<%= url %>" class="cel"><%= line_item.pack_size %></a>
        <% end %>
      </td>
      <td width="100px" class='price-input'>
        <% if line_is_editable %>
          <label class="currency-label"><%= currency_symbol(@vendor.currency) %></label><%= item_form.number_field :price, value: number_with_precision(line_item.discount_price, precision: 2), class: "form-control price-field line-item-price", tabindex: 1, step: 0.01 %>
        <% else %>
          <%= link_to display_sweet_price(line_item.discount_price, line_item.currency) %>
        <% end %>
      </td>
      <td width=<%= States[@order.state] >= States['approved'] ? "75px" : "150px" %>>
        <% if !line_is_editable || States[@order.state] >= States['shipped'] %>
          <a href="<%= url %>" class="cel"><%= line_item.ordered_qty %></a>
        <% elsif States[@order.state] >= States['approved'] %>
          <%= item_form.number_field :ordered_qty, min: 0, step: variant.step_size, class: "form-control ordered-qty line-item-number", tabindex: 1, data:{id: item_form.options[:child_index], 'line-id' => line_item.id} %>
        <% else %>
          <%= item_form.number_field :quantity, min: 0, step: variant.step_size,
            class: "form-control ordered-qty line-item-qty line-item-number", tabindex: 1,
            data:{id: item_form.options[:child_index], 'line-id' => line_item.id, quantity: line_item.quantity } %>
          <% if out_of_stock %><strong>Out of Stock</strong><% end %>
        <% end %>
      </td>
      <% if States[@order.state] >= States['approved'] %>
        <td width="75px">
          <% if line_is_editable && (@order.state == 'approved' || !@order.vendor.try(:receive_orders)) %>
            <%= item_form.number_field :quantity, min: 0, step: variant.step_size,
              class: "form-control shipped-qty line-item-qty line-item-number", tabindex: 1,
              data:{id: item_form.options[:child_index], 'line-id' => line_item.id, quantity: line_item.quantity } %>
          <% else %>
            <%= link_to line_item.shipped_qty || line_item.quantity, url %>
          <% end %>
        </td>
      <% end %>
      <% if @order.vendor.try(:receive_orders) && States[@order.state] >= States['shipped'] %>
        <% if line_is_editable %>
          <td>
            <%= item_form.number_field :quantity, min: 0, step: variant.step_size,
              class: "form-control received-qty line-item-qty line-item-number", tabindex: 1,
              data:{id: item_form.options[:child_index], 'line-id' => line_item.id, quantity: line_item.quantity } %>
          </td>
        <% else %>
          <td>
            <%= link_to line_item.quantity, url %>
          </td>
        <% end %>
      <% end %>
      <% if @order.vendor.try(:include_weights) %>
        <td>
          <% unit = variant.weight_units.blank? ? @vendor.weight_units : variant.weight_units %>
          <%= link_to line_item.weight_in(unit).to_s, url %>
        </td>
      <% end %>
      <td>
        <%= link_to display_sweet_price(line_item.amount, line_item.currency), url %>
      </td>
      <% if @order.vendor.track_line_item_class? %>
        <td>
          <%= item_form.collection_select :txn_class_id, @vendor.transaction_classes, :id, :fully_qualified_name, {include_blank: true}, class: "form-control" %>
        </td>
      <% end %>
    </tr>

    <% if line_item.variant.is_bundle? %>
      <%= render partial: 'spree/manage/orders/shared/line_item_bundle_parts',
                 locals: { line_item: line_item,
                           line_qty: line_item.quantity }  %>
    <% end %>
    <% if line_item.variant.is_assembly? && line_item.variant.should_show_parts? %>
      <%= render partial: 'spree/manage/orders/shared/line_item_assembly_parts',
                 locals: { line_item: line_item,
                           line_qty: line_item.quantity }  %>
    <% end %>
  </tbody>
<% end %>

<script type='text/javascript'>
  resizeTextArea();
</script>
