<div class="content">
  <%= render partial: 'unsynced_inventory_item_warning', locals: {integration_key: 'qbd'} %>
  <% unless @order.valid_address? %>
    <div class='alert alert-warning alert-dismissable'>
      <button type='button' class='close' data-dismiss='alert' aria-hidden='true'></button>
      The address on this order is invalid. Tax and shipping charges may not be correct
    </div>
  <% end %>
  <% backordered_variants = @order.line_items.joins(:inventory_units).where('spree_inventory_units.state = ?', 'backordered').pluck(:item_name).uniq %>
  <% unless backordered_variants.empty? %>
    <div class='alert alert-danger'>
      The following items are backordered and must be restocked before shipping:
      <ul>
        <% backordered_variants.each do |name| %>
          <li><%= name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="row"> -->
  <%= form_for [:manage, @order], html: {id: "single-order-form", class: "prevent-double-submission"} do |order_form|%>
    <%= render partial: 'spree/manage/orders/all_details', locals: {f: order_form} %>

    <div class="table-scrollable">
      <table class="table table-hover draggable-body" id="sample_1">
        <thead>
          <%#= search_form_for [:manage, @search], class: "form" do |f| %>
          <tr class='primary-header-row'>
            <th></th>
            <th></th>
            <th>
              <%= sort_link @search, :item_name, 'Name' %>
            </th>
            <th>
              <%= sort_link @search, :variant_sku, "Sku" %>
            </th>
            <th>
              <%= sort_link @search, :lot_number, 'Lot Number' %>
            </th>
            <th width="150px">
              <%= sort_link @search, :pack_size, "Pack/Size" %>
            </th>
            <th width="100px">
              <%= sort_link @search, :discount_price, "Price" %>
            </th>
            <th width=<%= States[@order.state] >= States['approved'] ? "75px" : "150px" %>>
              <% if States[@order.state] >= States['approved'] %>
                <%= sort_link @search, :ordered_qty, "Ordered" %>
              <% else %>
                <%= sort_link @search, :quantity, "Quantity" %>
              <% end %>
            </th>
            <% if States[@order.state] >= States['approved'] %>
              <th width="75px">
                <% if @order.state == 'approved' %>
                  <%= sort_link @search, :quantity, "Shipped" %>
                <% else %>
                  <%= sort_link @search, :shipped_qty, "Shipped" %>
                <% end %>
              </th>
            <% end %>
            <% if @vendor.receive_orders && States[@order.state] >= States['shipped'] %>
              <th>
                <%= sort_link @search, :quantity, "Received" %>
              </th>
            <% end %>
            <% if @vendor.include_weights %>
              <th>Tot Wt</th>
            <% end %>
            <th>
              <%= sort_link @search, :amount, "Total" %>
            </th>
            <% if @vendor.track_line_item_class? %>
              <th>
                <%= sort_link @search, :txn_class, "Class" %>
              </th>
            <% end %>
          </tr>
        </thead>
        <% colspan_left = 6 %>
        <%# colspan_left -= 1 unless current_vendor_view_settings.line_item_lot_number %>
        <%# colspan_left -= 1 unless current_vendor_view_settings.variant_pack_size %>
        <%= render partial: 'line_item', collection: @line_items, locals: { order_form: order_form } %>
        <tbody id='variant-quick-add'>
          <% if order_can_add_products? %>
            <tr id='variant-search-row'>
              <td></td>
              <td>
                <%= link_to '#', class: 'btn btn-xs red delete-input-row-btn', id: 'clear-new-line-item' do %>
                  <i class='fa fa-times'></i>
                <% end %>
              </td>
              <td id='variant-select-cell' colspan="<%= colspan_left %>">Loading Products <%= image_tag 'frontend/loading.gif' %></td>
              <td colspan="<%= States[@order.state] >= States['approved'] ? 2 : 1 %>"class='form-group'>
                <input name='line_item_variant_qty' type='number' min='0' step='any' id='new-line-item-qty' class='form-control new-item-required line-item-number'>
              </td>
              <td colspan='2'>
                <button id='add-new-line-item-button' class='btn green-jungle'>
                  <i class='fa fa-plus'></i> Add
                </button>
              </td>
              <% if @order.vendor.try(:include_weights) %>
                <td></td>
              <% end %>
              <% if @order.vendor.track_line_item_class? %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
          <%= render partial: 'subtotal_row', locals: {colspan_left: colspan_left} %>
        </tbody>
        <tbody id='all-adjustments no-drag' style='border-top: none;'>
          <%= render partial: 'adjustments', locals: {colspan_left: colspan_left} %>
        </tbody>

        <%= render partial: 'total_row', locals: {colspan_left: colspan_left} %>
      </table>
    </div>

    <% unless States[@order.state] < States['cart'] %>
      <%= render partial: 'order_edit_buttons' %>
    <% end %>
  <% end %>
  <!-- </div> -->
</div>
<script type="text/javascript">
  var ready, set_positions;
  set_positions = function(){
    // loop through and give each task a data-pos
    // attribute that holds its position in the DOM
    $('table.draggable-body tbody.line-item-row').each(function(i){
      $(this).attr("data-pos",i+1);
    });
  }
  ready = function(){
    // call set_positions function
    set_positions();
    // after the order changes
    $('table.draggable-body').sortable({items: 'tbody.line-item-row'}).bind('sortupdate', function(e, ui) {
        // array to store new order
        updated_order = []
        // set the updated positions
        set_positions();

        // populate the updated_order array with the new task positions
        $('table.draggable-body tbody.line-item-row').each(function(i){
          updated_order.push({ id: $(this).data("id"), position: i+1 });
        });
        // send the updated order via ajax
        $.ajax({
          type: "get",
          url: '/manage/orders/update_order_line_items_position',
          data: { order: updated_order }
        });
    });
  }
  $(document).ready(ready);
</script>
